* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  padding: 1rem;
  margin: 1rem;
  color: #ddd;
  font-family: sans-serif;

  h1 {
    color: yellow;
  }

  button {
    padding: 1rem;
    margin: 1rem 0;
    display: block;
  }

  hr {
    margin: 1rem 0;
  }

  .greater {
    color: rgb(174, 217, 111);
  }
}
